/* ---------- DATOS DEL SOLICITANTE EN 2 COLUMNAS ---------- */
.prestamo-solicitante {
  margin-bottom: 1em;

  display              : grid;
  grid-template-columns: 1fr 1fr;
  gap                  : 1.2rem;
}

/* Título de sección ocupa toda la fila */
.prestamo-seccion-titulo {
  grid-column  : 1 / -1;
  font-size    : 1.25rem;
  font-weight  : bold;
  color        : #2c3e50;
  margin-bottom: 0.5rem;
}

/* Fechas en dos columnas */
.prestamo-fechas {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap                  : 1.2rem;
  grid-column          : 1 / -1;
}

.prestamo-label {
  font-weight  : 500;
  color        : #2f3640;
  margin-bottom: 0.3rem;
}

/* Inputs generales */
.prestamo-input {
  padding      : 0.7rem 1rem;
  border       : 1px solid #dcdcdc;
  border-radius: 8px;
  font-size    : 1rem;
  width        : 100%;
}


/* ---------- CONSUMIBLES SELECCIONADOS (COMPACTOS) ---------- */
.prestamo-consumibles {
  margin-bottom: 1em;
}

.prestamo-elementos {
  display       : flex;
  flex-direction: column;
  gap           : 1rem;
  margin-top    : 0.5rem;
}

.prestamo-elemento {
  display              : grid;
  grid-template-columns: 50px minmax(100px, 1fr) 1fr 1fr;
  align-items          : center;
  justify-content      : space-around;
  gap                  : .7rem;
  padding              : 0.6rem 1rem;
  border               : 1px solid #e0e0e0;
  border-radius        : 8px;
  background-color     : #f9f9f9;
  font-size            : 0.95rem;
}

/* Código y nombre del consumible */
.prestamo-info__codigo {
  font-weight: 600;
  color      : #34495e;
}

.prestamo-info__nombre {
  color: #2c3e50;
}

/* Input para cantidad */
.prestamo-cantidad-input {
  padding      : 0.4rem 0.6rem;
  font-size    : 0.9rem;
  border       : 1px solid #ccc;
  border-radius: 6px;
}

/* Stock disponible */
.prestamo-stock {
  font-size: 0.85rem;
  color    : #4f5354;
}